@font-face{
    font-family: "open-sans";
    src: url("/font/OpenSans-Bold.ttf");
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: "open-sans";
    margin: 0;
    scroll-behavior: smooth;
}

.container .logo{
    height: 45px;
    border-radius: 5px;
}

.container .search{
    height: 15px;
    border-radius: 25%;
}

.container header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 110px;
}

.container{
    height: 65vh;
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
}

.container h1{
    margin: 0;
    color: #4a4a4a;
    text-align: center;
    padding: 17% 0;
    font-size: 2.2em
}


.container .nav-text{
    margin: 0px 10px;
    font-size: 0.9em;
    color: #f3f3f3;
}

.container .nav{
    background-color: #1d1d1d;
    height: 40px;
    display: flex;
    align-items: center;
    width: 100%; 
    justify-content: center;
}

.container a:hover{
    color: #4a4a4a;
}

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1d1d;
    color: white;
}

.contenedor .icons{
    height: 50px;
    margin: 10px 0;
}


.contenedor .aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.contenedor h1{
    font-size: 2.5em;
    margin-bottom: 0;
    color: #4a4a4a;
}

.contenedor .aboutme h2{
    text-align: center;
    font-size: 1.7em;
    color: #f3f3f3;
}

.contenedor .aboutme p{
    color: #4a4a4a;
    margin: 16px 10px;
}

.contenedor .our h3{
    margin-top: 0;
}

.contenedor .our{
    margin: 0px 0px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenedor .our h2{
    color: #f3f3f3;
    text-align: center;
}

.contenedor .our h3{
    color: #4a4a4a;
}

.contenedor .sofa{
    display: none;
}

.categoria{
    text-align: center;
}

.categoria h1{
    font-size: 1.6em;
    margin: 10px;
}

.cartas{
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #f3f3f3;
    height: 1050px;
}

.cartas h1{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.cartas h1:hover{
    background-color: transparent;
    color: transparent;
}

.cartas .ba単o{
    background-image: url("images/bathroom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 370px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    border-radius: 25px;
}

.cartas .cocina{
    background-image: url("images/kitchen.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 370px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    border-radius: 25px;
}

.cartas .dormitorio{
    background-image: url("images/bedroom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 370px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    border-radius: 25px;
}

.cartas .sala{
    background-image: url("images/livingroom.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 370px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    border-radius: 25px;
}

footer{
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4a4a4a;
}

footer h5{
    font-size: 0.7em;
}

@media (min-width: 590px){

    .container{
        height: 70vh;
    }

    .container h1{
        text-align: center;
        padding: 165px 0;
        font-size: 4em;
    }

    .container header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 33px;
        height: 100px;
    }

    .container .nav-text{
        margin: 0 15px;
        font-size: 1em;
        color: #4a4a4a;
    }

    .container .nav{
        background-color:transparent;
        height: auto;
        width: auto; 
    }

    .container .logo{
        height: 45px;
        border-radius: 5px;
    }

    .contenedor{
        display: flex;
        height: 500px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #1d1d1d;
        color: white;
    }

    .contenedor .aboutme p{
        width: 320px;
    }

    .contenedor .icons{
        height: 30px;
    }

    .contenedor .aboutme{
        height: 500px;
        margin: 0 20px;
    }

    .contenedor .our{
        margin: 0 20px;
        height: 400px;
    }

    .contenedor .aboutme h2{
        font-size: 1.6em;
    }

    .categoria h1{
        font-size: 2em;
    }

    .cartas{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 330px;
    }

    .cartas h1{
        border-radius: 0;
        font-size: 1.2em;
    }

    .cartas .ba単o{
        height: 100%;
        border-radius: 0;
        background-position: 80% 100%;
    }

    .cartas .cocina{
        height: 100%;
        border-radius: 0;
        background-position: 50% 100%;
    }

    .cartas .dormitorio{
        height: 100%;
        border-radius: 0;
        background-position: 50% 100%;
    }

    .cartas .sala{
        height: 100%;
        border-radius: 0;
        background-position: 40% 100%;
    }

    footer h5{
        font-size: 0.7em;
    }
}

@media (min-width:900px){
    
    .container .nav-text{
        margin: 0 20px;
    }

    .container{
        height: 75vh;
    }

    .container h1{
        text-align: center;
        padding-top: 170px;
        padding-bottom: 0;
        font-size: 4em;
    }

    .contenedor {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .contenedor .sofa{
        display: flex;
        height: 283px;
        width: 270px;
        background-image: url("images/image.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0% center;
    }

    .contenedor .our{
        margin: 0;
        height: 350px;
        align-items: flex-start;
        width: 250px;
        height: auto;
    }

    .contenedor .our h2{
        font-size: 1.4em;
        text-align: inherit;
    }
    
    .contenedor .our h3{
        font-size: 1.1em;
    }

    .contenedor .icons{
        margin-top: 0;
        margin-bottom: 5px;
    }

    .contenedor .aboutme{
        margin: 0
        10px;
        align-items: flex-start;
        width: auto;
        height: auto;
    }

    .contenedor .aboutme h1{
        margin-top: 0;
        margin-bottom: 10px;
    }

    .contenedor .aboutme h2{
        margin: 10px 0;
        text-align: initial;
    }

    .contenedor .aboutme p{
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .categoria{
        display: flex;
        align-items: center;
        height: 70px;
    }

    .categoria h1{
        font-size: 2.1em;
    }

    .cartas{
        height: 430px;
    }

    .cartas h1{
        font-size: 1.5em;
    }

    .cartas .ba単o{
        background-position: 75% 100%;
    }

    .cartas .cocina{
        background-position: 30% 100%;
    }

    .cartas .dormitorio{
        background-position: 55% 100%;
    }

    .cartas .sala{
        background-position: 35% 100%;
    }

    footer h5{
        font-size: 0.9em;
    } 
}

@media (min-width:1100px){

    .container h1{
        text-align: center;
        padding-top: 20vh;
        padding-bottom: 0;
        font-size: 5em;
    }

    .container .search{
        height: 20px;
    }

    .container{
        background-position: 100% 85%;
        height: 90vh;
    }

    .container .nav-text{
        margin-left: 40px;
    }

    .contenedor{
        height: 550px;
    }

    .cartas{
        height: 550px;
        width: 100%;
    }

    .cartas .ba単o{
        width: 100%;
    }

    .cartas .cocina{
        width: 100%;
    }


    .cartas .dormitorio{
        width: 100%;
    }

    .cartas .sala{
        width: 100%;
    }

    .cartas h1{
        font-size: 1.9em;
    }
}